@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Nunito+Sans:opsz,wght@6..12,200&display=swap");
body {
  margin: 0;
}

.header_line2 {
  position: fixed;
  top: 0;
  margin: 0;
  width: 96px;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header_line2 nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header_line2 nav a {
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: bold;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 40px;
  text-decoration: none;
  color: black;
}

main {
  margin-left: 259px;
}
main .home_contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
main .home_contents .home_text .logo {
  margin: 0;
  font-family: "Libre Barcode 128 Text";
  font-size: 30px;
  font-weight: 400;
  margin-top: 87px;
}
main .home_contents .home_text p:nth-of-type(2) {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 120px;
  margin: 170px 0 0 0;
  margin-bottom: 0;
}
main .home_contents .home_text p:nth-of-type(3) {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  margin: 0;
  font-weight: Light;
}
main .home_contents .home_text button {
  margin: 0;
  font-size: 16px;
  background: black;
  color: white;
  padding: 20px;
  width: 300px;
  height: 60px;
  border: 0;
  margin-top: 40px;
}
main .home_contents .home_text .contact_link {
  margin-top: 220px;
  margin-bottom: 102px;
  font-size: 16px;
  display: flex;
}
main .home_contents .home_text .contact_link p {
  margin: 0;
}
main .home_contents .home_picture {
  display: flex;
  margin-right: 96px;
}
main .home_contents .home_picture .drag_point {
  width: 23px;
  height: 64px;
  margin: auto 33px;
}
main .home_contents .home_picture .swiper_div .swiper {
  width: 414px;
  height: 100vh;
  overflow: hidden;
}
main .home_contents .home_picture .swiper_div .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .about_contents .gohome {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 96px;
  height: 64px;
  top: 0;
  left: 0;
}
main .about_contents .gohome p {
  margin: 0;
  text-align: center;
  font-family: "Libre Barcode 128 Text";
  font-size: 40px;
}
main .about_contents .about_skill {
  font-family: "Nunito Sans";
  font-weight: bold;
  margin-top: 90px;
}
main .about_contents .about_skill .about_me p:nth-of-type(1) {
  font-size: 70px;
  margin: 0;
}
main .about_contents .about_skill .about_me p:nth-of-type(2) {
  font-size: 30px;
  margin: 0;
  margin-top: 80px;
}
main .about_contents .about_skill .about_me p:nth-of-type(2) b {
  font-size: 20px;
}
main .about_contents .about_skill .about_me #my_face {
  margin-top: 30px;
}
main .about_contents .about_skill .about_me p:nth-of-type(3) {
  margin-top: 50px;
  font-size: 20px;
}
main .about_contents .about_skill .about_me p:nth-of-type(3) #red_text {
  color: red;
}
main .about_contents .about_skill .about_me .resume_down {
  background-color: black;
  color: white;
  width: 193px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  border: 0;
}