@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import "./mixin";

body {
    margin: 0;
}

.header_line2 {
    position: fixed;
    top: 0;
    margin: 0;
    width: 96px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        a {
            font-family: 'Nunito Sans';
            font-size: 20px;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin-top: 40px;
            text-decoration: none;
            color: black;

            &.link {
                text-decoration: underline;
                font-size: 30px;
                font-weight: bold;
            }

        }

        // .link:hover{
        //     background-color: black;
        //     border-radius: 10px;
        //     color: white;
        //     font-size: 25px;

        // }


    }

}

main {
    margin-left: 250px;


    .home_contents {
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .home_text {
            .logo {
                margin: 0;
                font-family: 'Libre Barcode 128 Text';
                font-size: 30px;
                font-weight: 400;
                margin-top: 87px;
            }

            p:nth-of-type(2) {
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 800;
                font-size: 120px;
                margin: 170px 0 0 0;
                margin-bottom: 0;

            }

            p:nth-of-type(3) {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 40px;
                margin: 0;
                font-weight: Light;

            }

            button {
                margin: 0;
                font-size: 16px;
                background-color: black;
                color: white;
                padding: 20px;
                width: 300px;
                height: 60px;
                border: 0;
                margin-top: 40px;
            }

            button:hover {
                background-color: white;
                color: black;
                border: 1px solid black;
                cursor: pointer;
                font-weight: bold;
            }

            .contact_link {
                margin-top: 220px;
                margin-bottom: 102px;
                font-size: 16px;
                display: flex;

                p {
                    margin: 0;
                    margin-right: 5px;
                }
            }
        }

        .drag_point {
            width: 23px;
            height: 64px;
            margin: auto 33px;
        }

        .home_picture {
            margin-right: 96px;

            .swiper_div {
                .swiper {
                    width: 25vw;
                    height: 100vh;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

    }

    #gohome {
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 96px;
        height: 64px;
        top: 0;
        left: 0;

        a {
            margin: 0;
            text-align: center;
            font-family: 'Libre Barcode 128 Text';
            font-size: 40px;
            color: black;

        }
    }

    .about_skill {
        font-family: 'Nunito Sans';
        font-weight: bold;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;

        .me {
            width: 40%;

            p:nth-of-type(1) {
                font-size: 70px;
                margin: 0;

            }

            p:nth-of-type(2) {
                font-size: 30px;
                margin: 0;
                margin-top: 60px;

                b {
                    font-size: 20px;
                }
            }

            #my_face {
                margin-top: 30px;
                width: 80%;
            }

            p:nth-of-type(3) {
                margin-top: 50px;
                font-size: 20px;

                #red_text {
                    color: rgb(255, 0, 0);
                }
            }

            .resume_down {
                background-color: black;
                color: white;
                width: 193px;
                height: 56px;
                font-size: 16px;
                font-weight: bold;
                border: 0;
            }

            .resume_down:hover {
                cursor: pointer;

            }

        }

        // #line2 {
        //     border-right: 1px solid black;
        // }

        .my_skill {
            width: 40%;
            margin-right: 8vw;

            p:nth-of-type(1) {
                font-size: 70px;
                margin: 0;
            }

            p:nth-of-type(2) {
                font-size: 30px;
                margin-top: 60px;
            }

            p:nth-of-type(3) {
                font-size: 30px;
            }

            p:nth-of-type(4) {
                font-size: 30px;
            }

            .skill_list {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
            }

            .familar_list {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;

                div {
                    position: relative;
                }

                .family {
                    width: 130px;
                    height: 44px;
                    border-radius: 30px;
                    background-color: white;
                    border: 3px solid black;
                    font-family: 'Noto Sans KR';
                    color: black;
                    font-size: 16px;
                    font-weight: bold;
                }

                .family:hover {
                    background-color: black;
                    border: 3px solid black;
                    color: white;
                    cursor: pointer;
                }

                .skill_textbox {
                    display: none;
                    pointer-events: none;


                    #skill_text {
                        font-size: 15px;
                        padding-top: 20%;
                        width: 80%;
                        font-size: 20px;
                    }

                    &.active {
                        width: 330px;
                        height: 330px;
                        background-image: url('../public/imgs/Skills_img.png');
                        background-repeat: no-repeat;
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        text-align: center;
                        justify-content: center;

                    }
                }

            }

            .normar_list {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;

                div {
                    position: relative;
                }

                .normar {
                    width: 130px;
                    height: 44px;
                    border-radius: 30px;
                    background-color: black;
                    color: white;
                    font-size: 16px;
                    font-family: 'Noto Sans KR';
                    font-weight: bold;
                    border: 0;
                }

                .normar:hover {
                    background-color: white;
                    border: 3px solid black;
                    color: black;
                    cursor: pointer;
                }

                .skill_textbox2 {
                    display: none;
                    pointer-events: none;


                    #skill_text2 {
                        font-size: 15px;
                        padding-top: 20%;
                        width: 80%;
                        font-size: 20px;
                    }

                    &.active {
                        width: 330px;
                        height: 330px;
                        background-image: url('../public/imgs/Skills_img.png');
                        background-repeat: no-repeat;
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        text-align: center;
                        justify-content: center;

                    }
                }
            }

        }
    }

    .Project {
        margin-top: 70px;

        #project_text {
            margin: 0;
            font-size: 70px;
            margin-bottom: 100px;

        }

        .project_section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            nav {
                p:nth-of-type(1) {
                    font-size: 45px;
                    margin: 0;
                    font-family: 'Nunito Sans';
                    font-weight: bold;
                }

                p:nth-of-type(2) {
                    font-size: 20px;
                    line-height: 40px;
                    font-family: 'Nunito Sans';
                    font-weight: 500;
                    white-space: pre-wrap;

                }
            }

            .project_img {
                margin-right: 160px;



                img {
                    width: 639px;
                }

            }
        }
    }

    .Contact_all {
        height: 950px;
        display: flex;
        justify-content: space-between;

        .Contact {
            width: 45%;
            margin-top: 70px;
            font-family: 'Noto Sans KR';



            #contact_text {
                margin: 0;
                font-size: 70px;

            }

            .contacts {
                margin-top: 60px;
                display: flex;
                justify-content: space-between;

                .dlstkakf {
                    font-size: 30px;
                    line-height: 40px;
                    font-weight: 400;


                    p {
                        margin: 0;
                        white-space: pre-wrap;
                    }
                }

                .my_link {
                    text-align: left;

                    nav {
                        line-height: 50px;
                        font-size: 20px;
                        font-family: 'Noto Sans KR';
                        font-weight: bold;

                        p {
                            margin: 0;
                        }

                        p:nth-of-type(2n-1) {
                            color: rgb(181, 180, 180);
                            font-size: 20px;
                        }

                        p:nth-of-type(2n) {
                            font-family: 'Noto Sans KR';
                            font-weight: bold;
                            font-size: 16px;
                        }

                        a {
                            color: black;
                            text-decoration: none;
                        }

                    }

                }


            }
        }

        .contact_img {
            img {
                margin-right: 180px;
                margin-top: 115px;
            }

        }
    }


}

@include asd {

    main {
        margin-left: 100px;
        .about_skill {
            display: block;

            .me {
                width: 100%;
                text-align: center;
                

                #my_face {
                    margin-top: 30px;
                    width: 80%;
                    
                }
            }

            .my_skill {
                width: 100%;
                padding-top: 100px;
                text-align: center;
                .skill_list{
                    width: 80%;
                    justify-content: center;
                    margin: 0 auto;
                }

                .familar_list{
                    width: 80%;
                    justify-content: center;
                    margin: 0 auto;
                }
                .normar_list{
                    width: 80%;
                    justify-content: center;
                    margin: 0 auto;
                }

            }

        }
    }
}