@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import "./mixin";

body {
    margin: 0;
}

.header_line2 {
    position: fixed;
    top: 0;
    margin: 0;
    width: 96px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        a {
            font-family: 'Nunito Sans';
            font-size: 20px;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin-top: 40px;
            text-decoration: none;
            color: black;

            &.link {
                text-decoration: underline;
                font-size: 30px;
                font-weight: bold;
            }

        }


    }

}

.burger_posi {
    display: none;
}

.menu {
    display: none;
}



main {
    padding-left: 250px;
    overflow: hidden;

    .home_contents {

        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;

        .home_text {
            .logo {
                margin: 0;
                font-family: 'Libre Barcode 128 Text';
                font-size: 30px;
                font-weight: 400;
                margin-top: 87px;
            }

            p:nth-of-type(2) {
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 800;
                font-size: 120px;
                margin: 130px 0 0 0;
                margin-bottom: 0;

            }

            p:nth-of-type(3) {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 40px;
                margin: 0;
                font-weight: Light;

            }

            button {
                margin: 0;
                font-size: 16px;
                background-color: black;
                color: white;
                padding: 20px;
                width: 300px;
                height: 60px;
                border: 0;
                margin-top: 40px;
            }

            button:hover {
                background-color: white;
                color: black;
                border: 1px solid black;
                cursor: pointer;
                font-weight: bold;
            }

            .contact_link {
                margin-top: 220px;
                margin-bottom: 102px;
                font-size: 20px;
                display: flex;


                a {
                    text-decoration-line: none;

                    p {
                        margin: 0;
                        margin-right: 5px;

                    }
                }
            }
        }

        .burger {
            position: absolute;
            right: 50px;
            top: 100px;
        }

        .home_picture {
            display: flex;
            margin-right: 96px;

            .drag_point {
                width: 23px;
                height: 64px;
                margin: auto 33px;
            }

            .swiper_div {
                .swiper {
                    .swiper-wrapper {
                        transition-timing-function: linear;
                    }

                    width: 25vw;
                    height: 100vh;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }



    }

    #gohome {
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 96px;
        height: 64px;
        top: 0;
        left: 0;

        a {
            margin: 0;
            text-align: center;
            font-family: 'Libre Barcode 128 Text';
            font-size: 40px;
            color: black;

        }
    }

    .about_skill {
        
        font-family: 'Nunito Sans';
        font-weight: bold;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;

        .me {
            width: 40%;

            p:nth-of-type(1) {
                font-size: 70px;
                margin: 0;

            }

            p:nth-of-type(2) {
                font-size: 30px;
                margin: 0;
                margin-top: 60px;

                b {
                    font-size: 20px;
                }
            }

            #my_face {
                margin-top: 30px;
                width: 80%;
            }

            p:nth-of-type(3) {
                margin-top: 50px;
                font-size: 20px;

                #red_text {
                    color: rgb(255, 0, 0);
                }
            }

            .resume_down {
                background-color: black;
                color: white;
                width: 193px;
                height: 56px;
                font-size: 16px;
                font-weight: bold;
                border: 0;

            }

            .resume_down:hover {
                cursor: pointer;

            }

        }

        // #line2 {
        //     border-right: 1px solid black;
        // }

        .my_skill {
            width: 40%;
            margin-right: 8vw;

            p:nth-of-type(1) {
                font-size: 70px;
                margin: 0;
            }

            p:nth-of-type(2) {
                font-size: 30px;
                margin-top: 60px;
            }

            p:nth-of-type(3) {
                margin-top: 60px;
                font-size: 30px;
            }


            p:nth-of-type(4) {
                margin-top: 60px;
                font-size: 30px;
            }

            .skill_list {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
            }

            .text_box {
                display: none;

                &.active {
                    display: none;
                }
            }

            .familar_list {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                z-index: 999;

                div {
                    position: relative;
                }



                .family {
                    width: 130px;
                    height: 44px;
                    border-radius: 30px;
                    background-color: white;
                    border: 3px solid black;
                    font-family: 'Noto Sans KR';
                    color: black;
                    font-size: 16px;
                    font-weight: bold;
                    &.active{
                        background-color: black;
                    color: white;
                    }

                }

                .family:hover {
                    background-color: black;
                    border: 3px solid black;
                    color: white;
                    cursor: pointer;
                }

                .skill_textbox {
                    display: none;
                    pointer-events: none;

                    #skill_texts {
                        padding-top: 7%;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        #skill_text {
                            word-break: keep-all;
                            font-size: 15px;
                            width: 80%;
                            margin: 0 15px 0 40px;
                        }
                    }

                    &.active {
                        width: 330px;
                        height: 330px;
                        background-image: url('../public/imgs/Skills_img.png');
                        background-repeat: no-repeat;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        text-align: left;

                    }

                }

            }

            .normar_list {
                display: flex;
                margin-bottom: 30px;
                flex-wrap: wrap;
                gap: 40px;

                div {
                    position: relative;
                }

                .normar {
                    width: 130px;
                    height: 44px;
                    border-radius: 30px;
                    background-color: black;
                    color: white;
                    font-size: 16px;
                    font-family: 'Noto Sans KR';
                    font-weight: bold;
                    border: 0;
                    z-index: 9999;

                    &.active{
                        background-color: white;
                        border: 3px solid black;
                        color: black;
                    }
                }

                .normar:hover {
                    background-color: white;
                    border: 3px solid black;
                    color: black;
                    cursor: pointer;
                }

                .skill_textbox2 {
                    display: none;
                    pointer-events: none;


                    #skill_text2 {
                        font-size: 15px;
                        padding-top: 20%;
                        width: 80%;
                        font-size: 20px;
                    }

                    &.active {
                        width: 330px;
                        height: 330px;
                        background-image: url('../public/imgs/Skills_img.png');
                        background-repeat: no-repeat;
                        display: flex;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        text-align: center;
                        justify-content: center;

                    }
                }
            }

        }
    }

    .Project {
        margin-top: 70px;
        overflow: hidden;

        #project_text {
            margin: 0;
            font-size: 70px;
            margin-bottom: 100px;

        }

        .project_section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 80px;

            nav {
                width: 40%;

                p:nth-of-type(1) {
                    font-size: 45px;
                    margin: 0;
                    font-family: 'Nunito Sans';
                    font-weight: bold;
                }

                p:nth-of-type(2) {
                    font-size: 20px;
                    line-height: 40px;
                    font-family: 'Nunito Sans';
                    font-weight: 500;
                    white-space: pre-wrap;

                }

                .readme {
                    display: flex;
                    justify-content: right;

                    button {
                        border: 0;
                        background-color: black;
                        color: white;
                        font-size: 15px;
                        width: 200px;
                        height: 50px;
                        align-items: center;
                        font-weight: 800;
                        font-family: 'Nunito Sans';
                    }

                    button:hover {
                        background-color: white;
                        color: black;
                        border: 1px solid black;
                        cursor: pointer;
                    }
                }
            }

            .project_img {
                // width: 100%;
                margin-right: 160px;
                position: relative;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    font-size: 20px;
                    color: white;
                }

                p:hover {
                    opacity: 1;
                    cursor: pointer;
                }



                img {
                    width: 550px;
                    vertical-align: middle;

                }

                img:hover {
                    cursor: pointer;
                }

            }
        }
    }

    .Contact_all {
        height: 100%;
        overflow: hidden;

        .Contact {

            width: 80%;
            margin-top: 70px;
            font-family: 'Noto Sans KR';

            #contact_text {
                margin: 0;
                font-size: 70px;

            }

            .contacts {
                margin-top: 60px;
                display: flex;
                justify-content: space-around;

                .dlstkakf {
                    width: 32%;
                    font-size: 1.5vw;
                    line-height: 40px;
                    font-weight: 400;
                    margin-right: 50px;


                    p {
                        margin: 0;
                        white-space: pre-wrap;
                    }
                }

                .my_link {
                    width: 32%;
                    text-align: left;
                    margin-right: 50px;

                    nav {
                        line-height: 50px;
                        font-family: 'Noto Sans KR';
                        font-weight: bold;

                        p {
                            margin: 0;
                        }

                        p:nth-of-type(2n-1) {
                            color: rgb(181, 180, 180);
                            font-size: 20px;
                        }

                        p:nth-of-type(2n) {
                            font-family: 'Noto Sans KR';
                            font-weight: bold;
                            font-size: 16px;
                        }

                        a {
                            color: black;
                            text-decoration: none;
                        }

                    }

                }

                .contact_img {
                    width: 32%;

                    img {
                        width: 500px;

                    }

                }

            }
        }

    }


}

@include first {

    main {
        padding-left: 100px;

        .home_contents {
            overflow: hidden;
            display: block;
            height: 100%;

            .home_text {
                width: 70%;
                margin: 0 auto;

                .logo {
                    display: none;
                }

                p:nth-of-type(2) {
                    margin-top: 150px;

                }

                p:nth-of-type(3) {
                    margin-top: 50px;

                }

                button {
                    margin-top: 50px;
                }

                .contact_link {
                    margin-top: 100px;
                }
            }

            .home_picture {
                .drag_point {
                    display: none;

                }

                .swiper_div {
                    display: none;
                }

            }

        }

        .about_skill {
            overflow: hidden;
            display: block;

            .me {
                width: 100%;
                text-align: center;


                p:nth-of-type(1) {
                    font-size: 70px;
                    margin: 0;

                }

                p:nth-of-type(2) {
                    font-size: 30px;
                    margin: 0;
                    margin-top: 60px;

                    b {
                        font-size: 20px;
                    }
                }

                #my_face {
                    margin-top: 30px;
                    width: 60%;
                }

                p:nth-of-type(3) {
                    margin-top: 50px;
                    font-size: 20px;

                    #red_text {
                        color: rgb(255, 0, 0);
                    }
                }

                .resume_down {
                    background-color: black;
                    color: white;
                    width: 193px;
                    height: 56px;
                    font-size: 16px;
                    font-weight: bold;
                    border: 0;
                }

                .resume_down:hover {
                    cursor: pointer;

                }
            }

            .my_skill {
                width: 100%;
                padding-top: 100px;
                text-align: center;

                .skill_list {
                    width: 80%;
                    justify-content: center;
                    margin: 0 auto;

                }

                .text_box {
                    display: block;
                    margin: 0 auto;
                    width: 800px;
                    height: 100px;
                    border: 1px solid black;
                    border-radius: 20px;

                    p {
                        font-size: 15px;
                        line-height: 10px;
                        margin: 0;
                    }

                }

                .text_box {
                    display: none;

                    &.active {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        width: 80%;
                        margin: 0 auto;
                        height: 100px;
                        border: 1px solid black;
                        border-radius: 20px;
                        

                        p {
                            font-size: 1.5vw;  
                            line-height: 30px;
                            margin: 0;
                        }

                    }
                }

                .familar_list {
                    padding-top: 30px;
                    width: 80%;
                    justify-content: center;
                    margin: 0 auto;

                    .skill_textbox {
                        display: none;

                        &.active {
                            display: none;
                        }
                    }

                }



                .normar_list {
                    width: 80%;
                    justify-content: center;
                    margin: 0 auto;
                    padding-top: 30px;
                    padding-bottom: 30px;

                    .skill_textbox2 {
                        display: none;

                        &.active {
                            display: none;
                        }
                    }

                }

            }

        }

        .Project {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;

            #project_text {
                margin-top: 60px;
                font-size: 70px;
                text-align: center;


            }

            .project_section {

                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
                margin-top: 100px;
                margin-bottom: 80px;

                nav {
                    width: 100%;
                    padding-top: 50px;

                    p:nth-of-type(1) {
                        font-size: 3.6vw;
                    }

                    p:nth-of-type(2) {
                        font-size: 1.8vw;

                    }

                    .readme {
                        display: flex;
                        justify-content: left;
                        margin-bottom: 50px;

                        button {
                            font-size: 1.2vw;
                            width: 18vw;
                            height: 5vw;
                            //프로젝트 자세히보기건드리셈 

                        }

                        button:hover {}
                    }
                }

                .project_img {
                    width: 100%;
                    margin-right: 0;

                    img {
                        width: 100%;
                    }

                }
            }
        }

        .Contact_all {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;


            .Contact {

                width: 80%;
                margin-top: 70px;
                font-family: 'Noto Sans KR';

                #contact_text {
                    margin: 0;
                    font-size: 70px;

                }

                .contacts {

                    margin-top: 60px;
                    display: block;
                    justify-content: space-around;

                    .dlstkakf {
                        width: 100%;
                        font-size: 3vw;
                        line-height: 50px;
                        margin-bottom: 80px;

                        p {
                            margin: 0;

                        }
                    }

                    .my_link {
                        width: 100%;
                        text-align: left;

                        nav {
                            line-height: 50px;
                            font-weight: bold;

                            p {
                                margin: 0;
                            }

                            p:nth-of-type(2n-1) {

                                font-size: 20px;
                            }

                            p:nth-of-type(2n) {

                                font-size: 16px;
                            }

                            a {
                                color: black;
                                text-decoration: none;
                            }

                        }

                    }

                    .contact_img {
                        display: none;
                        width: 32%;

                        img {
                            width: 500px;

                        }

                    }

                }
            }

        }
    }
}

@include pad {
    .header_line2 {
        top: 0;
        margin: 0;
        width: 100%;
        height: 50px;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 999;


        nav {
            background-color: rgb(223, 223, 223);
            padding-top: 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: end;
            border-bottom: 1px solid black;

            a {
                font-family: 'Nunito Sans';
                font-size: 20px;
                writing-mode: horizontal-tb;
                transform: rotate(0);
                margin-top: 40px;
                text-decoration: none;
                color: black;
                margin: 0 20px;

                &.link {
                    text-decoration: underline;
                    font-size: 20px;
                    font-weight: bold;
                }

            }

        }

    }

    main {
        padding-left: 0;
        width: 100%;
        margin: 0;

        .home_contents {
            width: 80%;
            display: block;
            height: 100%;
            margin: 50px auto;

            .home_text {
                width: 100%;
                margin: 0 auto;

                .logo {
                    display: none;
                }

                p:nth-of-type(2) {
                    font-size: 15vw;

                }

                p:nth-of-type(3) {
                    margin-top: 50px;
                    font-size: 5vw;


                }

                button {
                    font-size: 2.2vw;
                    margin-top: 50px;
                    width: 40vw;
                }


                .contact_link {
                    margin-top: 100px;
                    font-size: 16px;

                }
            }

            .home_picture {
                .drag_point {
                    display: none;

                }

                .swiper_div {
                    display: none;
                }

            }

        }

        #gohome {
            position: fixed;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50px;
            height: 30px;
            top: 30px;
            left: 25px;
            z-index: 9999;

            a {
                margin: 0;
                text-align: center;
                font-family: 'Libre Barcode 128 Text';
                font-size: 40px;
                color: black;

            }
        }

        .about_skill {
            font-family: 'Nunito Sans';
            font-weight: bold;
            margin-top: 70px;
            display: block;

            .me {
                width: 80%;
                margin: 0 auto;

                p:nth-of-type(1) {
                    font-size: 7vw;
                    margin-top: 100px;

                }

                p:nth-of-type(2) {
                    font-size: 3vw;
                    margin: 0;
                    margin-top: 60px;

                    b {
                        font-size: 2vw;
                    }
                }

                #my_face {
                    margin-top: 30px;
                    width: 80%;
                }

                p:nth-of-type(3) {
                    margin-top: 50px;
                    font-size: 3vw;

                    #red_text {
                        color: rgb(255, 0, 0);
                    }
                }

                .resume_down {

                    width: 25vw;
                    font-size: 2.2vw;
                    font-weight: bold;
                    border: 0;
                }

                .resume_down:hover {
                    cursor: pointer;

                }

            }

            .my_skill {
                width: 80%;
                margin-right: 8vw;
                margin: 100px auto;

                p:nth-of-type(1) {
                    font-size: 7vw;
                    margin: 0;
                }

                p:nth-of-type(2) {
                    font-size: 4vw;
                    margin-top: 60px;
                }

                p:nth-of-type(3) {
                    margin-top: 60px;
                    font-size: 4vw;
                }

                p:nth-of-type(4) {
                    margin-top: 60px;
                    font-size: 4vw;
                }

                .skill_list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;
                }

                .text_box {
                    display: none;

                    &.active {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        width: 90%;
                        height: 70px;
                        border: 1px solid black;
                        border-radius: 20px;
                        

                        p {
                            font-size: 1.8vw;  
                            line-height: 20px;
                            margin: 0;
                        }

                    }
                }

                .familar_list {
                    padding-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;

                    div {
                        position: relative;
                    }

                    .family {
                        width: 130px;
                        height: 44px;
                        border-radius: 30px;
                        background-color: white;
                        border: 3px solid black;
                        font-family: 'Noto Sans KR';
                        color: black;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .family:hover {
                        background-color: black;
                        border: 3px solid black;
                        color: white;
                        cursor: pointer;
                    }

                    .skill_textbox {
                        display: none;
                        pointer-events: none;

                        &.active {
                            display: none;

                        }
                    }

                }

                .normar_list {
                    padding-top: 30px;
                    display: flex;
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                    gap: 40px;

                    div {
                        position: relative;
                    }

                    .normar {
                        width: 130px;
                        height: 44px;
                        border-radius: 30px;
                        background-color: black;
                        color: white;
                        font-size: 16px;
                        font-family: 'Noto Sans KR';
                        font-weight: bold;
                        border: 0;
                    }

                    .normar:hover {
                        background-color: white;
                        border: 3px solid black;
                        color: black;
                        cursor: pointer;
                    }

                    .skill_textbox2 {
                        display: none;
                        pointer-events: none;


                        #skill_text2 {
                            font-size: 15px;
                            padding-top: 20%;
                            width: 80%;
                            font-size: 20px;
                        }

                        &.active {
                            display: none;

                        }
                    }
                }

            }
        }

        .Project {
            width: 80%;
            margin: 100px auto;

            #project_text {
                margin-top: 60px;
                font-size: 7vw;
                margin-bottom: 60px;



            }

            .project_section {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;



                nav {
                    width: 100%;
                    padding-top: 50px;

                    p:nth-of-type(1) {
                        font-size: 5vw;
                    }

                    p:nth-of-type(2) {
                        font-size: 2.2vw;
                        line-height: 5vw;

                    }

                    .readme {
                        display: flex;
                        justify-content: left;

                        button {
                            font-size: 1.2vw;
                            width: 18vw;
                            height: 5vw;

                        }

                        button:hover {}
                    }
                }

                .project_img {
                    margin-right: 0;

                    p {

                        width: 100%;

                    }



                    img {
                        width: 100%;
                    }

                }
            }
        }

        .Contact_all {
            width: 80%;
            margin: 150px auto;
            display: flex;
            justify-content: space-between;

            .Contact {
                margin: 0;
                width: 80%;
                font-family: 'Noto Sans KR';

                #contact_text {

                    font-size: 7vw;

                }

                .contacts {

                    display: block;
                    justify-content: space-around;

                    .dlstkakf {
                        width: 100%;
                        font-size: 4vw;
                        line-height: 50px;
                        margin-bottom: 80px;

                        p {
                            margin: 0;

                        }
                    }

                    .my_link {
                        width: 100%;
                        text-align: left;

                        nav {
                            line-height: 40px;
                            font-weight: bold;

                            p {
                                margin: 0;
                            }

                            p:nth-of-type(2n-1) {

                                font-size: 20px;
                            }

                            p:nth-of-type(2n) {

                                font-size: 16px;
                            }

                            a {
                                color: black;
                                text-decoration: none;
                            }

                        }

                    }

                    .contact_img {
                        display: none;
                        width: 32%;

                        img {
                            width: 500px;

                        }

                    }

                }
            }

        }

    }
}

@include mobile {
    .header_line2 {
        display: none;

    }

    .burger_posi {
        position: fixed;
        top: 0;
        background-color: rgb(223, 223, 223);
        border-bottom: 1px solid black;
        width: 100%;
        height: 73px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        z-index: 999;

        .burger {
            display: inline-block;
            position: relative;
            margin-right: 15px;
            width: 30px;
            height: 25px;


            span {
                position: absolute;
                left: 50%;
                width: 100%;
                height: 4px;
                background: #333;
                border-radius: 4px;
                transform: translate(-50%, 0) rotate(0deg);
                transition: 0.2s ease-in-out;
            }

            span:nth-child(1) {
                top: 0px;
            }

            span:nth-child(2) {
                top: 50%;
                transform: translate(-50%, -50%);

            }

            span:nth-child(3) {
                bottom: 0px;
            }

            &.active {
                
                transform: translateX(-15px);
                span:nth-child(1) {
                    top: 50%;
                    transform: translateX(-20px);

                    transform: rotate(-45deg);
                }

                span:nth-child(2) {
                    display: none;

                }

                span:nth-child(3) {
                    top: 50%;
                    transform: rotate(45deg);
                }
            }

        }

        .menu {
            display: none;

            &.active {
                display: block;
                position: absolute;
                top: 50px;
                right: 20px;
                border: 4px solid black;
                width: 100px;
                border-radius: 20px;
                z-index: 999;
                transform: translateY(40px);
                background-color: white;

                a {
                    text-decoration-line: none;
                    text-align: center;
                    color: black;
                    &.link {
                        text-decoration: underline;
                        font-size: 30px;
                        font-weight: bold;
                    }

                    p {
                        font-size: 20px;
                    }

                }

            }
        }
    }

    main {
        width: 100%;
        margin: 0;
        padding-left: 0;

        .home_contents {
            width: 80%;
            display: block;
            height: 100%;
            margin: 50px auto;

            .home_text {
                width: 100%;
                margin: 0 auto;
                padding-top: 70px;

                .logo {
                    display: none;
                }



                p:nth-of-type(2) {
                    margin-top: 0;
                    font-size: 12vw;

                }

                p:nth-of-type(3) {
                    margin-top: 30px;
                    font-size: 4.5vw;


                }

                button {
                    font-size: 2.8vw;
                    margin-top: 50px;
                    width: 35vw;
                    height: 10vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }


                .contact_link {
                    margin-top: 100px;
                    font-size: 16px;
                    margin-bottom: 0;

                }
            }

            .home_picture {
                .drag_point {
                    display: none;

                }

                .swiper_div {
                    display: none;
                }

            }

        }

        #gohome {
            position: fixed;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50px;
            height: 30px;
            top: 30px;
            left: 25px;
            z-index: 9999;

        }

        .about_skill {
            margin-top: 120px;
            display: block;
            

            .me {
                width: 80%;
                margin: 0 auto;
                

                p:nth-of-type(1) {
                    font-size: 10vw;
                    margin-top: 50px;

                }

                p:nth-of-type(2) {
                    font-size: 5vw;
                    margin: 0;
                    margin-top: 60px;

                    b {
                        font-size: 4vw;
                    }
                }

                #my_face {
                    margin-top: 30px;
                    width: 100%;
                }

                p:nth-of-type(3) {
                    margin-top: 50px;
                    font-size: 4vw;

                    #red_text {
                        color: rgb(255, 0, 0);
                    }
                }

                .resume_down {
                    margin-top: 50px;
                    width: 50vw;
                    font-size: 4.2vw;
                }

            }

            .my_skill {
                width: 80%;
                margin-right: 8vw;
                margin: 100px auto;

                p:nth-of-type(1) {
                    font-size: 10vw;
                    margin: 0;
                }

                p:nth-of-type(2) {
                    font-size: 7vw;
                    margin-top: 60px;
                }

                p:nth-of-type(3) {
                    margin-top: 60px;
                    font-size: 7vw;
                }

                p:nth-of-type(4) {
                    margin-top: 60px;
                    font-size: 7vw;
                }

                .skill_list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;

                    img {
                        width: 20%;
                    }
                }

                .text_box {
                    display: none;

                    &.active {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        width: 90%;
                        height: 70px;
                        border: 1px solid black;
                        border-radius: 20px;
                        

                        p {
                            font-size: 1.8vw;  
                            line-height: 20px;
                            margin: 0;
                        }

                    }
                }

                .familar_list {
                    padding-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;

                    div {
                        position: relative;
                    }

                    .family {
                        width: 25vw;
                        height: 9vw;
                        border-radius: 30px;
                        background-color: white;
                        border: 3px solid black;
                        font-family: 'Noto Sans KR';
                        color: black;
                        font-size: 3.5vw;
                        font-weight: bold;
                    }

                    .family:hover {
                        background-color: black;
                        border: 3px solid black;
                        color: white;
                        cursor: pointer;
                    }

                    .skill_textbox {
                        display: none;
                        pointer-events: none;


                        #skill_text {
                            font-size: 15px;
                            padding-top: 20%;
                            width: 80%;
                            font-size: 20px;
                        }

                        &.active {
                            display: none;

                        }
                    }

                }

                .normar_list {
                    padding-top: 20px;
                    display: flex;
                    margin-bottom: 30px;
                    flex-wrap: wrap;
                    gap: 40px;

                    div {
                        position: relative;
                    }

                    .normar {
                        width: 25vw;
                        height: 9vw;
                        border-radius: 30px;
                        background-color: black;
                        color: white;
                        font-size: 3.5vw;
                        font-family: 'Noto Sans KR';
                        font-weight: bold;
                        border: 0;
                    }

                    .normar:hover {
                        background-color: white;
                        border: 3px solid black;
                        color: black;
                        cursor: pointer;
                    }

                    .skill_textbox2 {
                        display: none;
                        pointer-events: none;


                        #skill_text2 {
                            font-size: 15px;
                            padding-top: 20%;
                            width: 80%;
                            font-size: 20px;
                        }

                        &.active {
                            display: none;

                        }
                    }
                }

            }
        }

        .Project {
            width: 80%;
            margin: 50px auto;

            #project_text {
                margin-top: 70px;
                font-size: 10vw;
                margin-bottom: 50px;
            }

            .project_section {
                display: flex;
                flex-direction: column-reverse;
                margin-top: 50px;
                margin-bottom: 50px;

                nav {
                    width: 100%;
                    padding-top: 30px;

                    p:nth-of-type(1) {
                        font-size: 5vw;
                    }

                    p:nth-of-type(2) {
                        font-size: 3vw;
                        line-height: 5vw;

                    }

                    .readme {
                        display: flex;
                        justify-content: left;

                        button {
                            font-size: 2vw;
                            width: 25vw;
                            height: 8vw;

                        }

                        button:hover {}
                    }
                }

                .project_img {
                    margin-right: 0;
                    width: 100%;

                    p {

                        width: 100%;

                    }



                    img {
                        width: 100%;
                    }

                }
            }
        }

        .Contact_all {
            width: 80%;
            margin: 50px auto;
            display: flex;
            justify-content: space-between;

            .Contact {
                margin-top: 70px;
                width: 80%;
                font-family: 'Noto Sans KR';

                #contact_text {

                    font-size: 10vw;

                }

                .contacts {

                    display: block;
                    justify-content: space-around;
                    margin-top: 50px;

                    .dlstkakf {
                        width: 100%;
                        font-size: 5vw;
                        line-height: 50px;
                        margin-bottom: 80px;

                        p {
                            margin: 0;

                        }
                    }

                    .my_link {
                        width: 100%;
                        text-align: left;

                        nav {
                            line-height: 10vw;
                            font-weight: bold;

                            p {
                                margin: 0;
                            }

                            p:nth-of-type(2n-1) {

                                font-size: 5vw;
                            }

                            p:nth-of-type(2n) {

                                font-size: 3vw;
                            }

                            a {
                                color: black;
                                text-decoration: none;
                            }

                        }

                    }

                    .contact_img {
                        display: none;
                        width: 32%;

                        img {
                            width: 500px;

                        }

                    }

                }
            }

        }

    }

}